.jj-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Rainbow colour, and spins infinitely */
.cat-face {
    margin: 0 auto;
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080);
    font-size: 5rem;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border: 1px solid red; */
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}