h2 {
    margin: 0;
}

.callout {
    user-select: none;
    width: 100%;
    padding: 1rem;
    /* background-color: var(--bg-secondary-hover); */
}

.calloutHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.calloutBody {
    padding: 1rem 2rem;
}

.calloutHeader svg {
    margin: 1rem;
    transition: transform 0.2s ease-out;
}

.calloutCollapse {
    overflow: hidden;
    transition: height 0.2s ease-out;
}

svg.expanded {
    transform: rotate(90deg);
}