h2 {
    margin: 0;
}

.callout {
    user-select: none;
    width: auto;
    padding: 1rem;
}

.calloutHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.calloutBody {
    padding: 1rem 2rem;
    overflow: hidden;
    
}

.calloutHeader svg {
    margin: 1rem;
    transition: transform 0.2s ease-out;
}

.calloutCollapse {
    overflow: hidden;
    transition: all 0.2s ease-out;
    /* box shadow inset left side */
    box-shadow: inset 0.6rem 0 rgba(0, 0, 0, 0.2);
}

svg.expanded {
    transform: rotate(90deg);
}