
/* .inlineCodeBlock {
    font-family: "Fira Code", monospace;
    font-size: 0.9em;
    background-color: #f0f0f0;
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
} */
.inlineCodeBlock {
    padding: 0 4px;
    color: var(--text-code);
    border-radius: 3px;
    font-family: 'Fira Code', monospace;
    background-color: var(--bg-code);
}