

.vector-calc-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    /* border: 1px solid #ff0000; */
    font-family: Google Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}