.square {
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #086083; /* Optional inset shadow for depth */
    
}

.square.stateDefault.userActionDefault {
    background-color: rgb(36, 36, 214);
}

.square.stateDefault.userActionHover {
    background-color: rgb(50, 50, 240); /* Slightly brighter for hover */
}

.square.stateDefault.userActionActive {
    background-color: rgb(20, 20, 180); /* Slightly darker for active */
}

.square.stateSelected.userActionDefault {
    background-color: rgb(0, 200, 220); /* Brighter and more distinct from default */
}

.square.stateSelected.userActionHover {
    background-color: rgb(0, 180, 200); /* Slightly darker for hover */
}

.square.stateSelected.userActionActive {
    background-color: rgb(0, 140, 180); /* Even darker for active */
}

.square.stateDisabled {
    background-color: rgb(120, 120, 120); /* Slightly lighter for better visibility */
}