@import "./theme.css";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  font-family: "Fira Code", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: larger;

  color-scheme: dark;
  color: var(--color-content-main);
  background-color: var(--color-bg-main);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

html {
  transition: all 0.5s;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  padding: 1.8rem;
  /* min-width: 320px; */
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.test {
  background-color: #ff0000;
}

.test2 {
  border: #ff0000 1px solid;
}