:root {
  --color-bg-main: oklch(14.039% 0.01874 265.616);
  --color-bg-primary: oklch(26.587% 0.04204 264.287);
  --color-bg-secondary: oklch(24.172% 0.03619 267.44);
  --color-bg-tertiary: oklch(23.27% 0.03468 266.625);
  --color-bg-accent: oklch(0.55 0.131 305);

  --color-box-accent: oklch(78.764% 0.06881 228.545);
  --color-box-shadow: oklch(52.557% 0.05529 234.718);
  /* --color-box-shadow: oklch(74.804% 0.0691 234.785); */

  --color-bg-blockquote: oklch(36.764% 0.05037 268.788 / 0.7);
  --color-bg-blockquote-accent: color-mix(in srgb, var(--color-accent-primary), transparent 10%);
  --color-content-main: oklch(94.41% 0.00357 220.89);
  
  --color-accent-primary: oklch(79.11% 0.131 305);
  --color-accent-primary-content: oklch(73.914% 0.17475 307.268);
  --color-accent-secondary: oklch(0.7911 0.131 47.65);
  --color-accent-secondary-content: oklch(76.562% 0.161 47.65);
  --color-accent-light-primary: oklch(89.11% 0.131 305);
  --color-accent-light-primary-content: oklch(83.914% 0.17475 307.268);

  --color-bg-ship: oklch(14.039% 0.01874 265.616);

  --color-bg-code: oklch(0.2925 0.0157 264.3);
  --color-content-code-inline: oklch(0.7273 0.0949 63.82);
  
  --color-content-katex: oklch(0.9074 0.1996 138.71);

  --color-primary: oklch(86.133% 0.141 139.549);
  --color-primary-content: oklch(17.226% 0.028 139.549);
  --color-secondary: oklch(73.375% 0.165 35.353);
  --color-secondary-content: oklch(14.675% 0.033 35.353);
  --color-neutral: oklch(24.731% 0.02 264.094);
  --color-neutral-content: oklch(82.901% 0.031 222.959);
  --color-info: oklch(86.078% 0.142 206.182);
  --color-info-content: oklch(17.215% 0.028 206.182);
  --color-success: oklch(86.171% 0.142 166.534);
  --color-success-content: oklch(17.234% 0.028 166.534);
  --color-warning: oklch(86.163% 0.142 94.818);
  --color-warning-content: oklch(17.232% 0.028 94.818);
  --color-error: oklch(82.418% 0.099 33.756);
  --color-error-content: oklch(16.483% 0.019 33.756);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;

  --color-debug: oklch(62.793% 0.25768 29.223);
  
  --shiki-foreground: #abb2bf;
  --shiki-background: var(--color-bg-code);
  --shiki-token-constant: #d19a66;
  --shiki-token-string: #98c379;
  --shiki-token-comment: #7f848e;
  --shiki-token-keyword: #c678dd;
  --shiki-token-parameter: #abb2bf;
  --shiki-token-function: #61afef;
  --shiki-token-string-expression: #98c379;
  --shiki-token-punctuation: #abb2bf;
  --shiki-token-link: #c678dd;
}
