.font-bold {
    color: var(--color-content-bold);
    font-weight: bold;
}

.font-italic {
    /* color: var(--color-content-italic); */
    font-style: italic;
}

.font-underline {
    text-decoration: underline;
}

.font-strikethrough {
    text-decoration: line-through;
}
